/* Nav Tabs */
.nav-tabs{
	border:0px;
}
/* List */
.nav-tabs > li {
	text-align:center;
	width:100%;
}

/* CSS3 Arrow */
.nav-tabs li.active:after,
.nav-tabs li.active:before {
	left:98%;
	top:66%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.ui-nav-one .nav-tabs li.active:after {
	border-left-color:#32c8de;
	border-width:10px;
	margin-top: -30px;
}
@media(max-width:767px){
	.ui-nav-one .nav-tabs li.active:after{
		display:none;
	}
}
.ui-nav-two .nav-tabs li.active:after, 
.ui-nav-two .nav-tabs li.active:before {
	right: 100%;
	top:44%;
	left:-20px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.ui-nav-two .nav-tabs li.active:before {
	border-right-color: #32c8de;
	border-width:10px;
}
@media(max-width:767px){
.ui-nav-two .nav-tabs li.active:before{
		display:none;
	}
}
.nav-tabs > li > a{
	border:0px;
	background:#333;
	color:#fff;
	padding:40px 5px;
	-webkit-transition: background 1s ease;
	-moz-transition: background 1s ease;
	-o-transition: background 1s ease;
	-ms-transition: background 1s ease;
	transition: background 1s ease;
	font-weight:600;
	text-transform:uppercase;
}
/* Boreder Radius */
.nav-tabs li:first-child a{
	border-top-left-radius:4px;
	border-top-right-radius:4px;
}
.nav-tabs li:last-child a{
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}
@media(max-width:767px){
.nav-tabs > li > a{
		padding:30px 5px;
		border-radius:3px;
	}
.nav-tabs > li > a span{
		display:none;
	}
}
/* Icon */
.nav-tabs li > a > i{
	color:#fff;
	font-size:18px;
	margin-bottom:10px;
	display:block;
}
@media(max-width:767px){
.nav-tabs li > a > i{
		margin-bottom:0px;
	}
}
/* Active */
.nav-tabs > li.active > a{
	border:0px;
	color:#fff;
	background:#32c8de;
}
.nav-tabs > li.active > a:hover{
	background:#32c8de;
}
/* Hover */
.nav-tabs > li > a:hover{
	border:0px;
	color:#fff;
	background:#32c8de;
	-webkit-transition: background 1s ease;
	-moz-transition: background 1s ease;
	-o-transition: background 1s ease;
	-ms-transition: background 1s ease;
	transition: background 1s ease;
}


/*------------------------------------------------------------------
  	[Accordion]
------------------------------------------------------------------*/
.accordion .panel-default {
  border: none;
}

.accordion .panel-heading {
  border-radius: 0;
}

.accordion .panel-default > .panel-heading {
  color: #515769;
  background: #fff;
  border: none;
  padding: 0;
}

.accordion .panel-title {
  font-size: 22px;
}

.accordion .panel-title-child {
  display: block;
  padding: 30px;
}

.accordion .panel-group .panel + .panel {
  border-radius: 0;
  margin-top: 10px;
}

.accordion .panel-default > .panel-heading + .panel-collapse > .panel-body {
  font-size: 16px;
  border-top: none;
  padding: 0 30px 30px 30px;
  margin-top: -1px;
}

.accordion [aria-expanded="true"],
.accordion .collapse.in {
  color: #fff;
  background: #17bed2;
}



/* Left Side */
section.about-section .list-group {
  padding: 0px;
  margin-right: 35px;
  margin-bottom: 30px;
}

section.about-section .list-group-item {
	margin-bottom: 15px;
	height: 80px;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;	
	background-color: #fff;
}

section.about-section .list-group-item:hover {
	margin-bottom: 15px;
	height: 80px;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;	
	background-color: #f1f1f1;
}

section.about-section .list-group-item.active {
	background: #fff;
	border: 1px solid #ddd;
	text-align: center;
}

section.about-section .list-group-item.active:after, 
section.about-section .list-group-item.active:before {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	position: absolute;
}

section.about-section .list-group-item.active:after {

	border-left-color: #fff;
	border-width: 15px;
	margin-top: -15px;
}
